Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
WTForms
email-validator 
openai
dotenv
gunicorn
flask-cors
flask-migrate
flask-cors
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
psycopg2-binary